#controls {
	z-index: 2;
	padding: 1em;
	box-sizing: border-box;
	width: 100%;
	height: $topOffset;
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	&>* {
		height: 100%;
	}
	.profileToggler {
		padding: 0 0.5em;
		font-size: 100%;
		background-color: transparent;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: rgba($orange, $textFadeAlpha);
		border: none;
		// border-bottom: solid 1px rgba($orange, $textFadeAlpha);

		transition: all $defaultTransitionTime;
		&:hover {
			color: $orange;
			border-color: $orange;
		}
	}
}
