@import './variables.scss';
@import './reset.scss';

@import './planetProfile.scss';
@import './controls.scss';

body {
	height: 100%;
	width: 100vw;
	overflow: hidden;
	font-family: $bodyFontFamily;
	font-size: 1em;
	background-color: $bg;
	color: $blue;
	letter-spacing: 0.1em;

}

#controls {
	position: fixed;
}
#planetProfile {
	position: absolute;
}
