@import './variables.scss';
@import './reset.scss';

@import './planetProfile.scss';
@import './controls.scss';

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: $bodyFontFamily;
	font-size: 1em;
	background-color: $bg;
	color: $blue;
}
#solarSystem {
	width: 100%;
	height: 100%;
}
#controls {
	position: fixed;
}
#solarSystem, #planetProfile {
	position: absolute;
}
