@import './variables.scss';
@import './reset.scss';

@import './planetProfile.scss';
@import './controls.scss';

body {
	position: relative;
	height: 100%;
	width: 100vw;
	overflow: hidden;
	font-family: $bodyFontFamily;
	font-size: 1em;
	background-color: $bg;
	color: $blue;
}

#controls {
	position: fixed;
}
#planetProfile, #instructions {
	position: absolute;
}

#instructions {
	bottom: 1em;
	width: 100%;
	text-align: center;
	font-size: 0.8em;
	color: $grey;

}
