#planetProfile {
	padding: $containerPad;
	padding-top: $topOffset;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	z-index: 1;
	background-color: rgba($bg, 0.5);
	.info {
		// border: solid red 1px;
		align-self: flex-start;
		flex: 2;
	}
	.menu {
		// border: solid blue 1px;
		flex: 1;
	}
	.info {
		margin-left: 1em;
		font-size: 1.2em;
		.title {
			padding: 0.5em 0;
			font-size: 2em;
			letter-spacing: 0.2em;
			text-transform: uppercase;
		}
		.details {
			letter-spacing: 0.1em;

			div {
				padding: 0.1em 0;
			}
		}
	}
	.menu {
		display: flex;
		max-width: 400px;
		flex-direction: column;

		button {
			background-color: rgba($blue, $bgFadeAlpha);
			padding: 1.5em;
			margin: 0.1em 0;
			text-transform: uppercase;
			border: solid 1px $blue;
			color: $blue;
			cursor: pointer;
			transition: all $defaultTransitionTime;
			&:hover {
				background-color: $blue;
				color: $bg;
			}
		}
	}
	// .menu, .menu button {
	// 	transform-style: preserve-3d;
	// 	perspective: 35em;
	// }
	// .menu {
	// 	transform: translateX(-28%) rotateZ(5deg);
	// 	button {
	// 		transform: rotateY(-30deg);
	// 		&:hover {
	// 			transform: translate(-10px, -10px) rotateY(-30deg);
	// 		}
	// 	}
	// }
}
